<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
	<title>FreshVotes Login</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script th:replace="fragments/header :: headerElement"> </script>


	<script type="text/javascript">

		$(document).ready(function () {
			$("#back").click(function () {
				window.location.href = "/login";
			});
		});

		function match() {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirm password").value;
			if (confirmPassword != password) {
				console.log("passwords don't match")
			} else {
				console.log("passwords match");
			}
		}
	</script>

</head>

<body>

	<div class="container">
		<div class="card" style="margin-top: 1.5em;">
			<div class="card-header">
				<h2>Register for An Account</h2>
			</div>
			<div class="card-body">
				<form action="" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:vlaue="${_csrf.token}" />
					<!--name-->
					<div class="form-group row">
						<label for="name" class="col-12 col-sm-12 col-md-3 col-form-label">Name</label>
						<div class="col-12 col-sm-12 col-md-9 col-form-label">
							<input type="text" th:field="${user.name}" class="form-control" id="name" name="name" />
						</div>
					</div>
					<!--email address-->
					<div class="form-group row">
						<!-- in user object we called associated username field to represent user email -->
						<label for="username" class="col-12 col-sm-12 col-md-3 col-form-label">Email Address</label>
						<div class="col-12 col-sm-12 col-md-9 col-form-label">
							<input type="text" th:field="${user.username}" class="form-control" id="username"
								name="username" />
						</div>
					</div>
					<!--password-->
					<div class="form-group row">
						<label for="password" class="col-12 col-sm-12 col-md-3 col-form-label">Password</label>
						<div class="col-12 col-sm-12 col-md-9 col-form-label">
							<input type="password" th:field="${user.password}" class="form-control" id="password"
								name="password" />
						</div>
					</div>
					<!--confirm password-->
					<div class="form-group row">
						<label for="confirm password" class="col-12 col-sm-12 col-md-3 col-form-label">Confirm
							Password</label>
						<div class="col-12 col-sm-12 col-md-9 col-form-label">
							<input type="password" class="form-control" id="confirm password" name="confirm password" />
						</div>
					</div>
					<!--on front-end we are going to compare confirm password with password
			see if there is match, if result true allow submiting, else pop alert message-->
					<button type="submit" class="btn btn-lg btn-info float-left" id="back">Back</button>
					<button type="submit" class="btn btn-lg btn-primary float-right">Create Account</button>
				</form>
			</div>
		</div>
	</div>



</body>

</html>